$green: rgb(75, 174, 79);
$darkGreen: rgb(55, 141, 60);

$blue: rgb(62, 80, 180);
$blueLight: rgb(67, 163, 250);
$blueMedium: rgb(89, 114, 240);
$blueDark: rgb(0, 26, 77);
$blueDarkest: rgb(0, 0, 26);

$amber: rgb(254, 192, 7);
